<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.whty.zjrcpos">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!-- HDMI权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_CLONESCREEN"/>

    <!-- 打印机权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_PRINTER"/>
    <!-- MSR权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_MSR"/>
    <!-- Contactless card权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_CONTACTLESS_CARD"/>
    <!-- SmartCard 权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_SMARTCARD"/>
    <!-- 串口权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_SERIAL"/>
    <!-- LED权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_LED"/>

    <!-- 客显权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_CUSTOMER_DISPLAY"/>

    <!-- Pinpad权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_GET_PIN_BLOCK"/>
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_MAC"/>
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_ENCRYPT_DATA"/>
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_UPDATE_USER_KEY"/>
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_UPDATE_MASTER_KEY"/>

    <!-- 身份证权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_IDCard"/>
    <!-- 使用网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/><!-- 允许网络访问的权限 -->
    <!-- 跳转到系统设置菜单的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 钱箱开关权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_MONEYBOX"/>
    <!-- 指纹模块 -->
    <uses-permission android:name="android.permission.CLOUDPOS_FINGERPRINT"/>

    <!-- 签字模块 -->
    <uses-permission android:name="android.permission.CLOUDPOS_SIGNATURE"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.PersonalizedInfoWritingActivity">
        </activity>
        <activity android:name=".activity.PersonalizedInfoWritingHYPosActivity">
        </activity>
        <activity android:name=".activity.AccountTypeSelActivity">
        </activity>
        <activity android:name=".activity.PersonalInfoInputActivity">
        </activity>
        <activity android:name=".activity.TerminalManageActivity">
        </activity>
        <activity android:name=".activity.ModifyPwdActivity">
        </activity>
    </application>

</manifest>